.line {
    height: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.space {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.line-white {
    background: white;
    width: 100;
}

.line-red {
    background: #ea0f1e;
}
