.error {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.error-code {
    margin: 0;
    color: white;
    font-size: 220px;
    font-weight: 600;
}

.error-message {
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}

@media screen and (max-width: 500px) {
    .error-code {
        font-size: 160px;
    }
    .error-message {
        font-size: 14px;
    }
}
