.images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
}

.image {
    width: 100px;
    margin: 1rem;
}

@media screen and (max-width: 720px) {
    .image {
        width: 80px;
    }
}

@media screen and (max-width: 500px) {
    .image {
        width: 60px;
    }
}
